[tool.black]
line-length = 100
target-version = ['py312']  
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | \.env
  | env
  | venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
  | static/CACHE
  | node_modules
)/
'''

[tool.pytest.ini_options]
DJANGO_SETTINGs_MODULE = "steamscape.settings"
python_files = ["test_*.py", "*_tests.py"]
addopts = "--reuse-db --cov=. --cov-report=html --cov-report=term-missing -v"